body {
  font-family: 'Open Sans',sans-serif;
  font-weight: 400;
}

a {
  color: #c55500;
  text-decoration: none;
}

#container {
  margin: 2% 30%;
  -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  -o-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  min-height: 650px;
}

.right {
  float: right;
}

.clear {
  clear: both;
}

.modal {
  background-color: rgba(0, 0, 0, 0.8);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}
.modal > div {
  background: none repeat scroll 0 0 #FFFFFF;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  -o-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  margin: 100px auto;
  padding: 10px;
  width: 500px;
}

#header {
  height: 80px;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFFAFAFA', endColorstr='#FFF1F1F1');
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fafafa), color-stop(50%, #f1f1f1), color-stop(100%, #f1f1f1));
  background-image: -webkit-linear-gradient(top, #fafafa 0%, #f1f1f1 50%, #f1f1f1 100%);
  background-image: -moz-linear-gradient(top, #fafafa 0%, #f1f1f1 50%, #f1f1f1 100%);
  background-image: -o-linear-gradient(top, #fafafa 0%, #f1f1f1 50%, #f1f1f1 100%);
  background-image: -ms-linear-gradient(top, #fafafa 0%, #f1f1f1 50%, #f1f1f1 100%);
  background-image: linear-gradient(top, #fafafa 0%, #f1f1f1 50%, #f1f1f1 100%);
  -moz-box-shadow: 0px 4px 5px -4px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0px 4px 5px -4px rgba(0, 0, 0, 0.4);
  -o-box-shadow: 0px 4px 5px -4px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 4px 5px -4px rgba(0, 0, 0, 0.4);
}
#header div.tab {
  color: #c55500;
  width: 60px;
  height: 60px;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  -o-border-radius: 30px;
  -ms-border-radius: 30px;
  -khtml-border-radius: 30px;
  border-radius: 30px;
  background: #E0E0E0;
  text-align: center;
  position: relative;
  float: left;
  top: 10px;
  border: solid 1px #DADADA;
  cursor: pointer;
}
#header div.tab:hover {
  border: 1px solid #D0D0D0;
  -webkit-transform: scale3d(1.1, 1.1, 1.1);
  transform: scale3d(1.1, 1.1, 1.1);
}
#header .new {
  left: 70px;
}
#header .new:after {
  content: "+";
  font-size: 54px;
}
#header .list {
  left: 450px;
}
#header .list:after {
  content: "!!!";
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  font-size: 45px;
}
#header input.search {
  height: 35px;
  margin: 25px 38px 0 50px;
  width: 297px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  background: #FFFFFF;
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(85%, #ffffff), color-stop(99%, #eeeeee));
  background-image: -webkit-linear-gradient(center bottom, #ffffff 85%, #eeeeee 99%);
  background-image: -moz-linear-gradient(center bottom, #ffffff 85%, #eeeeee 99%);
  background-image: -o-linear-gradient(center bottom, #ffffff 85%, #eeeeee 99%);
  background-image: -ms-linear-gradient(center bottom, #ffffff 85%, #eeeeee 99%);
  background-image: linear-gradient(center bottom, #ffffff 85%, #eeeeee 99%);
  border: 1px solid #AAAAAA;
}

.btn {
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFFAFAFA', endColorstr='#FFF1F1F1');
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fafafa), color-stop(50%, #f1f1f1), color-stop(100%, #f1f1f1));
  background-image: -webkit-linear-gradient(top, #fafafa 0%, #f1f1f1 50%, #f1f1f1 100%);
  background-image: -moz-linear-gradient(top, #fafafa 0%, #f1f1f1 50%, #f1f1f1 100%);
  background-image: -o-linear-gradient(top, #fafafa 0%, #f1f1f1 50%, #f1f1f1 100%);
  background-image: -ms-linear-gradient(top, #fafafa 0%, #f1f1f1 50%, #f1f1f1 100%);
  background-image: linear-gradient(top, #fafafa 0%, #f1f1f1 50%, #f1f1f1 100%);
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  padding: 0px 8px;
  display: inline-block;
  color: #444444 !important;
  font-weight: bold;
  background-color: #fafafa;
  border: solid 1px rgba(0, 0, 0, 0.1) !important;
  cursor: pointer;
  font-size: 11px;
  font-weight: bold;
  text-align: center;
  line-height: 27px;
  margin-left: 10px;
}
.btn:hover {
  text-decoration: none;
  border: solid 1px #c6c6c6;
}

.save {
  color: #FFF !important;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #7fb13c), color-stop(50%, #7fa13c), color-stop(100%, #7f913c));
  background-image: -webkit-linear-gradient(top, #7fb13c 0%, #7fa13c 50%, #7f913c 100%);
  background-image: -moz-linear-gradient(top, #7fb13c 0%, #7fa13c 50%, #7f913c 100%);
  background-image: -o-linear-gradient(top, #7fb13c 0%, #7fa13c 50%, #7f913c 100%);
  background-image: -ms-linear-gradient(top, #7fb13c 0%, #7fa13c 50%, #7f913c 100%);
  background-image: linear-gradient(top, #7fb13c 0%, #7fa13c 50%, #7f913c 100%);
  border: 1px solid #7F713C !important;
}

#list .details {
  margin: 2px 4px 2px 5px;
  background: #FAFAFA;
  padding: 5px 10px;
  border-bottom: 1px solid #e5e5e5;
  font-size: 13px;
  cursor: pointer;
}
#list .details:first-child {
  margin-top: 20px;
}
#list .details .actions {
  visibility: hidden;
}
#list .details .actions:first-child {
  padding-right: 100px;
}
#list .details:hover .actions {
  visibility: visible;
}
#list .details .title {
  color: #444444;
  font-weight: bold;
}
#list .details .description {
  color: #555;
  margin-top: 5px;
}
#list .details .done {
  text-decoration: line-through;
}
#list .details .detailed {
  padding: 10px 0px 0px 10px;
}
#list .details .location {
  padding: 5px 0px 0px 0px;
}

a:link, a:visited {
  border-bottom: 1px solid #c55500;
  color: #c55500;
  text-decoration: none;
}

.actions {
  float: right;
  list-style: none outside none;
  margin: 0 0 0.25em;
  overflow: hidden;
  padding: 0;
  position: relative;
  z-index: 1;
}
.actions:before, .actions:after, .actions a:before, .actions a:after {
  content: "";
  left: 0;
  position: absolute;
  top: 50%;
}
.actions a:visited, .actions a:link {
  border: 0 none;
  color: #c55500;
  display: block;
  padding-left: 28px;
}
.actions a:before, .actions a:after {
  background: none repeat scroll 0 0 #c55500;
  margin: -8px 0 0;
}
.actions .edit a:after {
  -moz-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  border-left: 1px solid #FFFFFF;
  height: 6px;
  left: 3px;
  margin-top: -3px;
  width: 13px;
}
.actions .edit a:before {
  -moz-transform: skew(-10deg, -10deg);
  -webkit-transform: skew(-10deg, -10deg);
  -o-transform: skew(-10deg, -10deg);
  -ms-transform: skew(-10deg, -10deg);
  transform: skew(-10deg, -10deg);
  background: none repeat scroll 0 0 #c55500;
  height: 5px;
  left: 3px;
  margin-top: 2px;
  width: 5px;
}
.actions .delete a:before {
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  background: none repeat scroll 0 0 #c55500;
  height: 15px;
  left: 6px;
  margin-top: -7px;
  width: 5px;
}
.actions .delete a:after {
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  background: none repeat scroll 0 0 #c55500;
  height: 5px;
  left: 1px;
  margin-top: -2px;
  width: 15px;
}
.actions .delete a:hover:after, .actions .delete a:hover:before, .actions .delete a:focus:after, .actions .delete a:focus:before, .actions .delete a:active:after, .actions .delete a:active:before {
  background: none repeat scroll 0 0 #730800;
}

.success {
  color: #7F913C;
  margin-right: -5px;
}
.success:before {
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  border-color: #7F913C;
  border-style: solid;
  border-width: 0 5px 5px 0;
  height: 12px;
  left: 6px;
  margin-top: -11px;
  width: 5px;
}

.help {
  color: #2385BA;
}
.help:before {
  background: none repeat scroll 0 0 #2385BA;
  border-radius: 16px 16px 16px 16px;
  color: #FFFFFF;
  content: "?";
  font-size: 14px;
  font-weight: bold;
  height: 16px;
  left: 3px;
  line-height: 15px;
  margin-top: -8px;
  text-align: center;
  width: 16px;
}

.empty {
  background: none repeat scroll 0 0 #FCFCFC;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  height: 100px;
  margin: 0 10px;
  text-align: center;
  color: #444444;
}
.empty h4 {
  padding-top: 30px;
  margin-bottom: 0px;
}
